/BNG-results/
/.vscode/settings.json
lr_init_sbml.xml
lr_sbml.xml
mapk3_inh_sbml.xml
mapk3_sbml.xml
/~$MSCBIO2025-BioNetGenOverview.pptx
/Slides/*/build/
/Slides/*/build.log
/Worksheet_and_quiz_examples/
.DS_Store
