/models/lr
/models/lr_init_sbml.xml
/models/lr_sbml.xml
/models/mapk1
/models/mapk2
/models/mapk3
/models/mapk3_inh
/models/mapk3_inh_sbml.xml
/models/mapk3_sbml.xml
/models/mm
/models/sir
/~$MSCBIO2025-BioNetGenOverview.pptx
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.cdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.gdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.net
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_28_46/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_28_46/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.cdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.gdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.net
variable_JAK_STAT_SOCS_degrad_model.bngl
