/lr
/lr_init_sbml.xml
/lr_sbml.xml
/mapk1
/mapk2
/mapk3
/mapk3_inh
/mapk3_inh_sbml.xml
/mapk3_sbml.xml
/mm
/sir
/~$MSCBIO2025-BioNetGenOverview.pptx
/Class/lr
/Class/lr_flat
/Class/mm
/Class/*.xml
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.cdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.gdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_26_21/variable_JAK_STAT_SOCS_degrad_model.net
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_28_46/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_28_46/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.bngl
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.cdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.gdat
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.log
variable_JAK_STAT_SOCS_degrad_model/2025_06_04__13_29_39/variable_JAK_STAT_SOCS_degrad_model.net
variable_JAK_STAT_SOCS_degrad_model.bngl
